{% extends "layout.html" %}
{%load static%}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
    <div class="card" style="width: 18rem;">
  <img class = "rounded float-left" style = " border-radius: 50%;" src="{%static 'jp/me.jpg'%}" alt="me">
</div>
    
    </div>
    <div class="col">
    
    <h3>Who Am I ?</h3>
<hr>
Hello there. I am Yusuf Salih Demir. I am 19.
I am a 2nd year software engineering student at Ankara Atılım University.
I am very interested in software field. Cyber security and artificial intelligence are the areas I am most interested in. 
Outside of software, I'm a total astronomy buff. Two must-haves for me are software and astronomy. 
Observing the sky and doing research on every subject in my spare time is my biggest hobby.
<hr>
<h3>My Talents And Dreams</h3>
<hr>
I have the ability to conduct deep research and use the data I have obtained from this research. I aim to use new technologies according to the requirements.
I am constantly trying to create new projects and bring them to life. I am always in the state of observation and I always draw conclusions from these observations. 
I am working on fast and new generation advanced languages, especially Python. One of my biggest dreams is to create and market a very advanced artificial intelligence product. 
In order to reach all kinds of resources required to develop this artificial intelligence product, I aim to launch my other projects first and use the resources I obtain from these projects for artificial intelligence.

<hr>
    </div>
  </div>
</div>



{% endblock body %}