{% extends "layout.html" %}
{%load static%}
{% block body %}
<h1>Contact Me</h1>
<hr style = "background-color: white"><br>

<div class="jumbotron bg-dark">
<p><img src="{%static 'ico/email.ico'%}" alt="..."><a href="mailto:yusufsalih.2363.demir@gmail.com" style = "color:white; text-decoration: underline;">yusufsalih.2363.demir@gmail.com</a></p>
<p><img src="{%static 'ico/github.ico'%}" alt="..."><a href="https://github.com/yusufs-d" style = "color:white; text-decoration: underline;">yusufs-d</a></p>
<p><img src="{%static 'ico/linkedin.ico'%}" alt="..."><a href="https://www.linkedin.com/in/yusuf-salih-demir-a6b144201/" style = "color:white; text-decoration: underline;">Yusuf Salih Demir</a></p>

</div>





{% endblock body %}