{% extends "layout.html" %}
{% block body %}

<div class="jumbotron bg-secondary">
  <h1 class="display-4">yusufsalihdemir.com</h1>
  <p class="lead"> You can find information about me on this blog site. 
    In addition, you can reach the articles in the fields of astronomy and software that I have written.
    By registering, you can comment on my articles and participate in the discussions that I will open in the field of astronomy or software.</p>
  <hr class="my-4 bg-light">
  <p>Don't forget to click the buttons below to learn more about me!</p>
  <a class="btn btn-dark " href="/about/" role="button">About Me</a>
  <a class="btn btn-dark " href="/my_skills/" role="button">My Skills</a>
  <a class="btn btn-dark " href="/articles/all_articles/" role="button">My Articles</a>
  <a class="btn btn-dark " href="/contact_me/" role="button">Contact Me</a>
</div>
</div>
</div>



{% endblock body %}


























