<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">yusufsalihdemir.com</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">About Me <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'my_skills' %}">My Skills <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'article:all_articles' %}">My Articles</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'contact_me' %}">Contact Me <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
         {% if request.user.username == "yusufs" %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
            </li>
          {% endif %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:logout' %}">Logout <span class="sr-only">(current)</span></a>
          </li>
        
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:login' %}">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:register' %}">Register</a>
          </li>
        {% endif %}
        </ul>
      </div>
    </nav>

